*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#c7b6a7;
    font-family: 'Montserrat', sans-serif;
}
header{
    text-align:right;
    padding:20px;

}

.iphone{
    display: flex;
    text-align: center;
    font-weight: bold;
    background-color: antiquewhite;
    margin: 10px;
     padding: 10px;
}
.samsung{
    display: flex;
    text-align: center;
    font-weight: bold;
    background-color: antiquewhite;
    margin: 10px;
  padding: 10px;
}
.promociones{
    display: flex;
    text-align: center;
    font-weight: bold;
    background-color: antiquewhite;
    margin: 10px;
     padding: 10px;
}

/*contacto*/
#productosIphone, #productosSamsung, #otrosAcc{
    display: none;
}